* {
  margin: 0;
  padding: 0;
  background-color: #8e8e8d;
}
a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}
img.headshot {
  width: auto;
  height: 25em;
  padding-bottom: 5vh;
}
img.dream {
  width: 50em;
  height: auto;
}
header {
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
nav {
  text-align: center;
  padding-bottom: 2vh;
}
img {
  text-align: center;
  margin: auto;
  display: block;
}
article {
  text-align: center;
  justify-self: center;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  padding-bottom: 1.5vh;
  font-size: 2em;
}
p {
  width: 45em;
  padding-bottom: 3vh;
  font-size: 1.25em;
}
ul {
  list-style-type: disc;
  text-align: center;
  font-size: 1em;
}
figcaption {
  text-align: center;
  padding-bottom: 2vh;
  font-size: smaller;
  padding-top: 1vh;
}

section {
  padding-bottom: 8vh;
}
form {
  text-align: center;
}
input {
  /* padding-top: 1vh; */
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
}
h1 {
  font-size: 5em;
}
li {
  font-size: 1em;
}
label {
  font-size: 1em;
}

textarea {
  background-color: white;
}
